@page {
    margin-top: 10mm;
    margin-bottom: 10mm;
    margin-left: 10mm;
    margin-right: 10mm;
}

body {
    font-size: 9pt;
}

table.myTable {
    border-style: solid;
    border-color: rgb(0, 0, 0);
    width: auto;
    padding-top: 1px;
    padding-bottom: 1px;
}


/*************************************
Styles for the amounts
*************************************/

.styleNormalAmount {
    text-align: right;
}
.styleTotalAmount{
    text-align: right;
    font-weight: bold;
}
.styleTotalAmountNegative{
    text-align: right;
    font-weight: bold;
    color: red;
}

.styleAlignCenter{
    text-align: center;
}


/*************************************
Styles for the texts
*************************************/

.styleDescrTotals{
    text-align: left;
    font-weight: bold;
}

.styleTitles {
    font-weight: bold;
    color: #354793;
    font-size: 11pt;
    padding-top: 5px;
    padding-bottom: 5px;
}

.styleTablesHeaderText {
    color: #e4e7e5;
    background-color: #354793;
    font-weight: bold;
    text-align: center;
}

.styleTablesBasNames {
    text-align: center;
}

.styleSummaryRows {
    text-align: left;
    font-weight: bold;
    background-color:  #cad2ff

}

.styleSortedByColumn{
    background-color: beige;
    font-weight: bold;
    text-align: right;
}

.styleTablesBasResults {
    text-align: right;
}
.styleTablesBasResults_totals {
    text-align: right;
    border-top: solid;
    border-top-style:solid;
    border-color: rgb(0, 0, 0);
}
.styleTablesBasResults_final_totals {
    text-align: right;
    font-weight: bold;
    border-bottom: solid;
    border-bottom-style:double;
    border-color: rgb(0, 0, 0);
}
/**************************
styles for the headers
**************************/
.header_row_company {
    font-weight: bold;
    text-align: right;
    font-size: 12pt;
}
.header_row_normal {
    font-size: 8pt;
    text-align: left;
}

/********************
style for the rows
*********************/
/*base color: "#354793"*/
.styleEvenRows{
    background-color: #edeef8;
}
.styleOddRows{
    background-color: #b4bde4;
}
