@page {
    margin-top: 10mm;
    margin-bottom: 10mm;
    margin-left: 10mm;
    margin-right: 10mm;
}

body {
    font-size: 9pt;
}

table.myTableConc {
    border-style: solid;
    border-color: rgb(0, 0, 0);
    width: auto;
    padding-top: 1px;
    padding-bottom: 1px;
}


/*************************************
Styles for the amounts
*************************************/

.styleNormalAmount {
    text-align: right;
}
.styleNegativeAmount{
    text-align: right;
    color: red;
}
.styleTotalNegativeAmount{
    text-align: right;
    color: red;
    border-top: solid;
    border-top-style:solid;
    border-color: rgb(0, 0, 0);
}


/*************************************
Styles for the texts
*************************************/

.styleTitles {
    font-weight: bold;
    color: #354793;
    font-size: 11pt;
    padding-top: 5px;
    padding-bottom: 5px;
}

.styleTablesHeaderText {
    color: #e4e7e5;
    background-color: #354793;
    font-weight: bold;
    text-align: center;
}

.styleTablesBasNames {
    text-align: center;
}

.descrAccBalancesLevel {
    text-align: left;
    font-weight: bold;
    background-color: beige;
}

.amountAccBalancesLevel {
    text-align: right;
    font-weight: bold;
    background-color: beige;
}

.styleSortedByColumn{
    background-color: beige;
    font-weight: bold;
    text-align: right;
}

.styleTablesBasResults {
    text-align: right;
}
.styleTablesBasResults_totals {
    text-align: right;
    border-top: solid;
    border-top-style:solid;
    border-color: rgb(0, 0, 0);
}
.styleTablesBasResults_final_totals {
    text-align: right;
    font-weight: bold;
    border-bottom: solid;
    border-bottom-style:double;
    border-color: rgb(0, 0, 0);
}
/**************************
styles for the headers
**************************/
.header_row_company {
    font-weight: bold;
    text-align: right;
    font-size: 12pt;
}
.header_row_normal {
    font-size: 10pt;
    text-align: right;
}
