
/* Update 2023-02-22 */

@page {
   margin-top: 0mm;
   margin-bottom: 15mm;
   margin-left: 0mm;
   margin-right: 0mm;
}

body {
   font-family: $font_family;
   font-size: $font_size;
}

.bold {
   font-weight: bold;
}

.right {
   text-align: right;
}

.center {
   text-align: center;
}

.header_address {
   font-family: $font_family;
   font-size: $font_size;
}

.header_text {
  margin-top: 1.2cm;
  margin-left: 1.2cm;
  margin-right: 1.2cm;
  text-align: right;
  position: absolute;
}

.logo {
  margin-top: 1.2cm;
  margin-left: 1.34cm;
  margin-right: 1.2cm;
  position: absolute;
}

.address {
  top: 4.5cm;
  left: 12.3cm;
  width: 7.5cm;
  position: absolute;
}

.text {
   margin-top: 8.0cm;
   margin-left: 1.5cm;
   margin-right: 1.0cm;
}

.transactions_details {
   margin-top: 0.5cm;
   margin-left: 1.65cm;
}

.border_top {
   border-top:thin solid black;
}

.border_bottom {
   border-bottom:thin solid black;
}

.date {
   margin-top: 1.5cm;
   margin-left: 1.5cm;
}

.signature {
   margin-top: 0.5cm;
   margin-left: 12.3cm;
}

.image-signature {
   height: 10mm;
   margin-left: 12.3cm;
}

