@page {
    margin-top: 10mm;
    margin-bottom: 10mm;
    margin-left: 10mm;
    margin-right: 10mm;
}

body {
    font-size: 9pt;
}

table {
    font-size: 9pt;
    margin-bottom: 10px;
    width: 100%;
}


/*************************************
Styles for the tables
*************************************/

table.myTableFundManagement td {
    border-style: solid;
    border-color: rgb(0, 0, 0);
    width: auto;
    padding-top: 1px;
    padding-bottom: 1px;
}

.table_header {
    font-weight: bold;
    font-size: 12;
}


/*************************************
Styles for the amounts
*************************************/

.styleNormalAmount {
    text-align: right;
}

.styleTotalAmount {
    text-align: right;
    font-weight: bold;
}


/*************************************
Styles for the texts
*************************************/

.styleTitles {
    font-weight: bold;
    color: #0f0f0f;
    font-size: 11pt;
    padding-top: 5px;
    padding-bottom: 5px;
}

.styleTablesHeaderText {
    color: #e4e7e5;
    background-color: #18c552;
    font-weight: bold;
    text-align: center;
}

.styleTablesTotalsDescriptions {
    text-align: left;
    font-weight: bold;
}


/******************************************
Styles for the coloured cells
******************************************/


/*Provare a sistemare con ereditarietà*/

.symbolRed {
    color: #ec4123;
    text-align: right;
    font-size: 12px;
}

.symbolGreen {
    color: #71FA4C;
    text-align: right;
    font-size: 12px;
}

.symbolOrange {
    color: #fad14c;
    text-align: right;
    font-size: 12px;
}