    /***************************************************
style for the Report sections/principal objects
***************************************************/

    @page {
        margin-top: 10mm;
        margin-bottom: 10mm;
        margin-left: 10mm;
        margin-right: 10mm;
    }

    body {
        font-size: 9pt;
    }

    .header_text {
        margin-top: 0.0cm;
        margin-left: 0.0cm;
        margin-right: 0.0cm;
        text-align: right;
    }

    .logo {
        margin-top: 0.0cm;
        margin-left: 0.0cm;
        margin-right: 0.0cm;
    }

    .header_row_company_name {
        font-weight: bold;
        font-size: 12pt;
    }

    .header_row_address {
        font-size: 10pt;
    }

    .footer_right {
        text-align: right;
    }

    .footer_left {
        text-align: left;
    }

    /***************************************************
style for the tables
****************************************************/
    table {
        font-size: 9pt;
        margin-bottom: 20px;
        width: 100%;
    }

    table td {
        border-style: solid;
        border-color: rgb(0, 0, 0);
        width: auto;
        padding-top: 1px;
        padding-bottom: 1px;
    }

    /**********************************************************
style's for the amounts
**********************************************************/

    .styleNormalAmount {
        text-align: right;
    }

    /*style for the middle totals*/

    .styleMidTotalAmount {
        text-align: right;
        font-weight: bold;
    }

    .styleTotalAmount {
        background-color: #e5f2ff;
        font-weight: bold;
        text-align: right;
    }

    .styleTotalAmount_withoutColor {
        font-weight: bold;
        text-align: right;
    }

    /*those 3 style's are for the Altman z Score Index values*/

    .styleZIndexLow {
        background-color: #a4ff8b;
        text-align: right;
    }

    .styleZIndexLow_withoutColor {
        text-align: right;
    }

    .styleZIndexMid {
        background-color: #fdfb74;
        text-align: right;
    }

    .styleZIndexMid_withoutColor {
        text-align: right;
    }

    .styleZIndexProb {
        background-color: #ee7d73;
        text-align: right;
    }

    .styleZIndexProb_withoutColor {
        text-align: right;
    }

    /*style for the amount when the difference between calculated total and the accounting total is>than 0*/

    .styleDifferenceFoundAmount {
        color: #EC3323;
        text-align: right;
    }

    /*******************************************************
style's for the texts
********************************************************/

    .styleTitles {
        font-weight: bold;
        color: #354793;
        font-size: 11pt;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .styleTablesHeaderText {
        color: $headers_texts_color;
        background-color: $headers_background_color;
        font-weight: bold;
        text-align: center;
    }

    .styleTablesHeaderText_withoutColor {
        font-weight: bold;
        text-align: center;
    }

    .styleCentralText {
        text-align: center;
    }

    /*style for the titles of total amounts*/

    .styleUnderGroupTitles{
        font-weight: bold;
    }

    .styleTitlesTotalAmount {
        font-weight: bold;
        background-color: #e5f2ff;
    }

    .styleParagraphs {
        text-align: left;
        font-style: italic;
    }

    /*style for the Cashflow sections*/

    .styleAssetsAdjustments {
        text-align: left;
        font-weight: bold;
        background-color: #c4f0c3;
    }

    .styleAssetsAdjustments_withoutColor {
        text-align: left;
        font-weight: bold;
    }

    .styleLiabilitiesAdjustments {
        text-align: left;
        font-weight: bold;
        background-color: #eeccbc;
    }

    .styleLiabilitiesAdjustments_withoutColor {
        text-align: left;
        font-weight: bold;
    }

    /*style for the 'difference founds' warning*/

    .styleWarningText {
        color: #EC3323;
        text-align: left;
        font-size: 9pt;
        padding-top: 5px;
    }

    .styleWarningAmount {
        color: #EC3323;
        text-align: right;
        font-size: 9pt;
        padding-top: 5px;
    }

    .styleUpArrow {
        text-align: right;
        color: green;
        font-size: 12px;
        margin: 0px;
    }

    .styleDownArrow {
        text-align: right;
        color: #EC3323;
        font-size: 12px;
        margin: 0px;
    }

    .styleEqualArrow {
        text-align: right;
        color: orange;
        font-size: 12px;
        margin: 0px;
    }